* {margin:0px;padding:0px;}
a {color:inherit;}
body {
  background:#002145;
  background-image: url("noisy_net.png");
  text-align:center;
  color:#003362;
  font-family:'Lato';
  font-size:20px;
  font-weight:bold;
}
input[type=text]{
  border: 0px solid #003362;

  padding: 15px;
  background: rgba(0,0,125,0.1);
  margin: 0 0 10px 0;
  width:100%;
}
input[type=submit] {
  padding:5px 15px;
  background:#003362;
  color:white;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:#003362;
  height:40px;
  width:150px;
  font-size:25px;
  font-family:'Lato';
}
select{
  background: transparent;
  color:#003362;
  width: 230px;
  padding: 1px;
  font-size: 30px;
  /*border: 1px;
  border-radius: 1px;*/
  height: 40px;
}

.background {
  margin-top: 10px;
  background:#ADD8E6;
  background-image: url("noisy_net_center.png");
  -moz-box-shadow: 0 0 30px 5px black;
  -webkit-box-shadow: 0 0 30px 5px black;
}
.count{
	font: 30px 'Lato';
  text-align:right;
}
.title{
  margin-top:10px;
  font:40px 'Lato';
}
.container{
  text-align:center;
  margin-top:10%;
}
.left{
  text-align:left;
  text-shadow:none;
}
.right{
  text-align:right;
  text-shadow:none;
}
.result{
  margin-top:20px;
  font: 30px 'Lato';
  text-decoration:none;
}

@media only screen and (max-width : 767px) {
  .count{
    font:15px 'Lato';
  }
  select{
    font-size: 15px;
    width:150px;
    height:27px;
  }
  .inputc{
    width:100%;
  }
  .inpute{
    width:100%;
  }
  .container{
    margin-top:-2%;
    margin-bottom:3%;
  }
  }
}
